@{
    ViewData["Title"] = "Home Page";
}

<div class="u-ta-c">
    <form asp-action="Index">
        <button name="button" value="allow" class="uifw-button primary go-action fw" autofocus>
            Authorize with EKM
        </button>
    </form>
</div>